* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-post-form {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
}

.add-post-form input,
.add-post-form textarea {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  padding: 0.8rem 0.4rem;
  resize: none;
  cursor: pointer;
}

.add-post-form textarea {
  height: 6rem;
}
